<div class="flex flex-col gap-4 items-center justify-center h-screen bg-black text-white">
  <p class="text-4xl ">Comming Realy Soon !</p>
  <div class="grid grid-cols-2 place-items-center gap-4 ">
    <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded text-center outline-offset-3 outline-lime-300">
      Home
    </button>

    <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded text-center">
      Retour
    </button>

  </div>
</div>

<div class="flex flex-col gap-4 items-center justify-center h-screen bg-black text-white">
  <p class="text-4xl ">Oops ... Error 404</p>
  <p> La page demandé n'existe pas.</p>
  <div class="grid grid-cols-2 place-items-center gap-4 ">
    <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded text-center outline-offset-3 ">
      Home
    </button>

    <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded text-center">
      Retour
    </button>
  </div>

  <blockquote class="text-xl text-center italic font-semibold text-gray-900 dark:text-white">
    <svg aria-hidden="true" class="w-10 h-10 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/></svg>
    <p>"L'important c'est l'essentiel et c'est ça le principal."</p>
  </blockquote>
</div>