p<%= turbo_frame_tag :age_verification do %>
  <div data-controller="age">
    <div 
    class="relative z-50" 
    aria-labelledby="modal-title" 
    role="dialog" 
    aria-modal="true"
    data-age-target="container"
    >
      <!--
        Background backdrop, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div
        data-age-target="backdrop"
        class="fixed inset-0 bg-black transition-opacity"
        data-transition-enter="ease-out duration-300"
        data-transition-enter-start="opacity-0"
        data-transition-enter-end="opacity-100"
        data-transition-leave="ease-in duration-100"
        data-transition-leave-start="opacity-100"
        data-transition-leave-end="opacity-0"
      ></div>

      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full  justify-center text-center items-center px-10">
          <!--
            Modal panel, show/hide based on modal state.

            Entering: "ease-out duration-300"
              From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              To: "opacity-100 translate-y-0 sm:scale-100"
            Leaving: "ease-in duration-200"
              From: "opacity-100 translate-y-0 sm:scale-100"
              To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          -->
          <div
            data-age-target="panel"
            class="relative transform overflow-hidden rounded-lg bg-black border-white/75 border-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
            data-transition-enter="ease-out duration-300"
            data-transition-enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            data-transition-enter-end="opacity-100 translate-y-0 sm:scale-100"
            data-transition-leave="ease-in duration-200"
            data-transition-leave-start="opacity-100 translate-y-0 sm:scale-100"
            data-transition-leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          >

            <div class="bg-black px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
              <div class="sm:flex sm:items-start">
                <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-800 sm:mx-0 sm:h-10 sm:w-10">
                  <!-- Heroicon name: outline/exclamation-triangle -->
                  <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 10.5v3.75m-9.303 3.376C1.83 19.126 2.914 21 4.645 21h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 4.88c-.866-1.501-3.032-1.501-3.898 0L2.697 17.626zM12 17.25h.007v.008H12v-.008z" />
                  </svg>
                </div>
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                  <h3 class="text-lg font-medium leading-6 text-white" id="modal-title">Avez-vous 18 ans ?</h3>
                  <div class="mt-2">
                    <p class="text-sm text-gray-500">Teddy Fear est une marque d’alcool réservée aux adultes.
                    Vous devez avoir 18 ans ou plus pour entrer.                    
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="bg-black px-4 py-3 sm:px-6">
              <%= button_to "J’ai 18 ans ou plus - Entrer",
                age_verification_path(verification: true),
                :method => "post",
                :class => "inline-flex w-full justify-center rounded-md border border-transparent bg-green-500 px-4 py-2 text-base text-white shadow-sm hover:bg-green-700 ",
                :id => "button-enter",
                :data => { :action => "click->age#hideModal" }
              %>
              <%#= button_to "- 18",
              "https://www.google.com", 
                :method => "get",
                :class => "mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 shadow-xl md:bg-red-300 bg-red-700 px-4 py-2 text-base font-medium text-gray-700 shadow-sm md:hover:bg-red-700 sm:bg-red-700 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>