<%= turbo_frame_tag :cookie_consent do %>

    <div class=" absolute p-1 inset-x-2 md:bottom-7 bottom-5 min-w-[50%] z-10 max-w break-words rounded-lg bg-gold-100">
        <p>
            This website uses cookies to ensure you get the best experience on our website.
        </p>
        <p>
            <%= link_to "Learn more", cookies_policy_path %>
        </p>
        <p>
        
            <%= button_to "Accept", cookie_consent_path(consent: true), method: :post%>
            <%= button_to "Reject", cookie_consent_path(consent: false), method: :post%>
        </p>
    </div>
<% end %>