/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap');

.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: 1s cubic-bezier(0.5, 0, 0, 1);
    transition-property: opacity, transform;
    }

.reveal.in {
    opacity: 1;
    transform: none;
}
/* @layer base {
  html {
    font-family: "Montserrat", sans-serif;
  }
} */

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
