<%#This partial render a gouvermental alchool warning  %>
<section class=" fixed w-screen bg-gold-600 z-20 bottom-0 grid place-items-center text-xs md:text-base ">
    <p>L’abus d’alcool est dangereux pour la santé, à consommer avec modération. </p>
</section>
